
<template name="login">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Login</h4>
      </div>

      <div class="modal-body">
        <form>
          <div class="input-group">
            <span class="input-group-addon primary"><i class="btn-link fa fa-envelope" aria-hidden="true"></i></span>
            <input type="email" class="form-control" id="email_login" placeholder="mail ...">
          </div>
          <div class="input-group">
            <span class="input-group-addon primary"><i class="btn-link fa fa-key" aria-hidden="true"></i></span>
            <input type="password" class="form-control" id="password_login" placeholder="password ...">
          </div>
          <button type="submit" id="submit" class="btn btn-primary btn-block">login</button>
        </form>
      </div>

      <div class="modal-footer">
        <a href="{{pathFor 'register' }}" > Register </a>
      </div>
    </div>
  </div>

</template>

<template name="register">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Register</h4>
      </div>

      <div class="modal-body">
        <form>
          <div class="input-group">
            <span class="input-group-addon primary"><i class="btn-link fa fa-user" aria-hidden="true"></i></span>
            <input type="email" class="form-control" id="username_register" placeholder="user name ...">
          </div>
          <div class="input-group">
            <span class="input-group-addon primary"><i class="btn-link fa fa-envelope" aria-hidden="true"></i></span>
            <input type="email" class="form-control" id="email_register" placeholder="mail ...">
          </div>
          <div class="input-group">
            <span class="input-group-addon primary"><i class="btn-link fa fa-key" aria-hidden="true"></i></span>
            <input type="password" class="form-control" id="password_register" placeholder="password ...">
          </div>
          <button type="submit" id="submit" class="btn btn-primary btn-block">register</button>
        </form>

      </div>

      <div class="modal-footer">
        <a href="{{pathFor 'login' }}" > Login </a>
      </div>
    </div>
  </div>

</template>
