<template name="formSeed">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">generate seed</h4>
      </div>

      <div class="modal-body">
        <form>
          <div class="input-group">
            <span class="input-group-addon primary"><i class="btn-link glyphicon glyphicon-grain"></i></span>
            <input type="text" class="form-control" id="seed" placeholder="seed ...">
          </div>
          <button type="submit" id="submit" class="btn btn-primary btn-block">generate</button>
        </form>
      </div>

      <div class="modal-footer">

      </div>
    </div>
  </div>

</template>
