<template name="accountItem">

    <div class="row">
      <div class="col-md-12 text-center">
        <h3>
          <a>
            <strong>{{SatoshisToBTC this.balance}}</strong> <sup><span class="glyphicon glyphicon-btc">&#8594;</span></sup>
            <strong>{{SatoshisToEuro this.balance}}</strong> <sup><span class="glyphicon glyphicon-euro">&#8594;</span></sup>
            <strong>{{SatoshisToUSD this.balance}}</strong> <sup><span class="glyphicon glyphicon-usd"></span></sup>
          </a>
        </h3>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        {{>formSendCryptocurrency}}
        {{>TransactionHistorySend}}
      </div>
      <div class="col-md-6">
        {{>ReceiveCryptocurrency}}
        {{>TransactionHistoryReceived}}
      </div>
    </div>

  {{>formCreateExternalAddress}}
  {{>showAllExternalAddress}}

</template>

<template name="TransactionHistoryReceived">
  <div class="panel panel-primary">
    <div class="panel-heading"><strong>Transaction history received </strong><span class="badge"><i class="fa fa-arrow-down" aria-hidden="true"></i></span></div>
    <div class="panel-body">
    {{#each this.Address}}
      {{#if exchange}} <!--exchange=0-->
      {{else}} <!--exchange=1-->
        {{#if utxos}}
          <div class="panel panel-info">
            <div class="panel-heading">

              <!-- Address information -->
              <div class="text-right">
                <a class="btn btn-link" id="button_AddressInformation" data-toggle="tooltip" data-placement="left" title="address information">
                  <span class="fa fa-info-circle fa-2x" aria-hidden="true"></span>
                </a>
              </div>
              <!-- -->
              <span class="badge"><i class="glyphicon glyphicon-tag" ></i><strong>  {{tag}}</strong></span>
              <br><span class="badge"><i class="fa fa-at" aria-hidden="true"><i class="fa fa-user" aria-hidden="true"></i></i></span> {{address}}
            </div>
            <div class="panel-body text-center">
              <div id="loading_{{address}}" class="collapse">
                <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                <span class="sr-only">Loading...</span>
              </div>
              <!-- Address information -->
              <div id="addressInformation_{{address}}" class="collapse">
                <ul class="list-group">
                  {{#with addressInformation}}
                    <div class="input-group">
                      <li class="list-group-item list-group-item-info">
                        <a><strong>{{SatoshisToBTC balance}}</strong><span class="badge"><i class="fa fa-btc" aria-hidden="true"></i></span></a>
                        <a>, <strong>{{SatoshisToEuro balance}}</strong><span class="badge"><i class="fa fa-eur" aria-hidden="true"></i></span></a>
                        <a>, <strong>{{SatoshisToUSD balance}}</strong><span class="badge"><i class="fa fa-usd" aria-hidden="true"></i></span></a>
                      </li>
                      <span class="input-group-addon info" data-toggle="tooltip" data-placement="right" title="balance address"><i class="btn-link fa fa-balance-scale" aria-hidden="true"></i></span>
                    </div>
                    <div class="input-group">
                      <li class="list-group-item list-group-item-success">
                        <a><strong>{{SatoshisToBTC totalReceived}}</strong><span class="badge"><i class="fa fa-btc" aria-hidden="true"></i></span></a>
                        <a>, <strong>{{SatoshisToEuro totalReceived}}</strong><span class="badge"><i class="fa fa-eur" aria-hidden="true"></i></span></a>
                        <a>, <strong>{{SatoshisToUSD totalReceived}}</strong><span class="badge"><i class="fa fa-usd" aria-hidden="true"></i></span></a>
                      </li>
                      <span class="input-group-addon info" data-toggle="tooltip" data-placement="right" title="total received"><i class="btn-link fa fa-list-ol" aria-hidden="true"><i class="fa fa-arrow-down" aria-hidden="true"></i></i></span>
                    </div>
                    <div class="input-group">
                      <li class="list-group-item list-group-item-danger">
                        <a><strong>{{SatoshisToBTC totalSent}}</strong><span class="badge"><i class="fa fa-btc" aria-hidden="true"></i></span></a>
                        <a>, <strong>{{SatoshisToEuro totalSent}}</strong><span class="badge"><i class="fa fa-eur" aria-hidden="true"></i></span></a>
                        <a>, <strong>{{SatoshisToUSD totalSent}}</strong><span class="badge"><i class="fa fa-usd" aria-hidden="true"></i></span></a>
                      </li>
                      <span class="input-group-addon info" data-toggle="tooltip" data-placement="right" title="total sent"><i class="btn-link fa fa-list-ol" aria-hidden="true"><i class="btn-link fa fa-paper-plane" aria-hidden="true"></i></i></span>
                    </div>
                    <div class="input-group">
                      <li class="list-group-item list-group-item-warning">
                        <a><strong>{{SatoshisToBTC unconfirmedBalance}}</strong><span class="badge"><i class="fa fa-btc" aria-hidden="true"></i></span></a>
                        <a>, <strong>{{SatoshisToEuro unconfirmedBalance}}</strong><span class="badge"><i class="fa fa-eur" aria-hidden="true"></i></span></a>
                        <a>, <strong>{{SatoshisToUSD unconfirmedBalance}}</strong><span class="badge"><i class="fa fa-usd" aria-hidden="true"></i></span></a>
                      </li>
                      <span class="input-group-addon info" data-toggle="tooltip" data-placement="right" title="unconfirmed balance"><i class="btn-link fa fa-exclamation-triangle" aria-hidden="true"></i></span>
                    </div>
                  {{/with}}
                </ul>
              </div>

              <!-- -->
              <ul class="list-group">
                {{#each utxos}}
                  <!--<div class="input-group">
                    <li class="list-group-item"> {{createdAt}} </li>
                    <span class="input-group-addon info"><i class="glyphicon glyphicon-time"></i></span>
                  </div>-->
                  <div class="input-group">
                    <li class="list-group-item text-center">
                      <a><strong>{{SatoshisToBTC satoshis}}</strong><span class="badge"><i class="fa fa-btc" aria-hidden="true"></i></span></a>
                      <a>, <strong>{{SatoshisToEuro satoshis}}</strong><span class="badge"><i class="fa fa-eur" aria-hidden="true"></i></span></a>
                      <a>, <strong>{{SatoshisToUSD satoshis}}</strong><span class="badge"><i class="fa fa-usd" aria-hidden="true"></i></span></a>
                    </li>
                    <span class="input-group-addon info" data-toggle="tooltip" data-placement="right" title="received"><i class="btn-link fa fa-arrow-down" aria-hidden="true"></i></span>
                  </div>
                  <br>
                {{/each}}
              </ul>
             </div>
           </div>
            {{/if}}
          {{/if}}
        {{/each}}
      </div>
    </div>
</template>

<template name="TransactionHistorySend">
  <div class="panel panel-primary">
    <div class="panel-heading"><strong>Transaction history send </strong><span class="badge"><i class="fa fa-paper-plane" aria-hidden="true"></i></span></div>
      <div class="panel-body">
        <ul class="list-group">
          {{#each this.SendTransactionsHistory}}
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="badge"><i class="glyphicon glyphicon-pushpin"></i></span><strong> {{transactionName}}</strong>
                <br><span class="badge"><i class="glyphicon glyphicon-time"></i></span><strong> {{createdAt}}</strong>
              </div>
              <div class="panel-body text-center">
                <div class="input-group">
                  <li class="list-group-item"> {{destinationAddress}} </li>
                  <span class="input-group-addon info" data-toggle="tooltip" data-placement="right" title="destination address"><i class="btn-link fa fa-at" aria-hidden="true"><i class="fa fa-paper-plane" aria-hidden="true"></i></i></span>
                </div>
                <li class="list-group-item text-center">
                  <a><strong>{{SatoshisToBTC SendSatoshis}}</strong><span class="badge"><i class="fa fa-btc" aria-hidden="true"></i></span></a>
                  <a>, <strong>{{SatoshisToEuro SendSatoshis}}</strong><span class="badge"><i class="fa fa-eur" aria-hidden="true"></i></span></a>
                  <a>, <strong>{{SatoshisToUSD SendSatoshis}}</strong><span class="badge"><i class="fa fa-usd" aria-hidden="true"></i></span></a>
                </li>
                <button class="btn btn-link" data-toggle="collapse" data-target="#showSendTransactionsDetails_{{transactionId}}" ><span class="glyphicon glyphicon-sort-by-attributes"></span></button>
                <div id="showSendTransactionsDetails_{{transactionId}}" class="collapse">
                  <div class="input-group">
                    <li class="list-group-item" >
                      <a><strong>{{SatoshisToBTC minerFee}}</strong><span class="badge"><i class="fa fa-btc" aria-hidden="true"></i></span></a>
                     </li>
                    <span class="input-group-addon info" data-toggle="tooltip" data-placement="right" title="miner fee"><i class="btn-link fa fa-btc" aria-hidden="true"><i class="fa fa-exchange" aria-hidden="true"></i></i></span>
                  </div>
                  <div class="input-group">
                    <li class="list-group-item"> {{addressChange}} </li>
                    <span class="input-group-addon info" data-toggle="tooltip" data-placement="right" title="address change"><i class="btn-link fa fa-at" aria-hidden="true"><i class="fa fa-exchange" aria-hidden="true"></i></i></span>
                  </div>
                  <ul class="list-group">
                  {{#each sourceArrayAddress}}
                    <div class="input-group">
                      <li class="list-group-item"> {{this}} </li>
                      <span class="input-group-addon info" data-toggle="tooltip" data-placement="right" title="sending address"><i class="btn-link fa fa-at" aria-hidden="true"><i class="fa fa-user" aria-hidden="true"></i></i></span>
                    </div>
                  {{/each}}
                  </ul>
                </div>
              </div>
            </div>
          {{/each}}
        </ul>
      </div>
  </div>
</template>

<template name="showAllExternalAddress">
  <!-- Modal -->
  <div id="DialogShowAllExternalAddress_{{numAccount}}" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">show All Addresses</h4>
          <!--Searsh-->
          <br>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-tag"></i></span>
            <input type="text" class="form-control" placeholder="Search Tag ...." aria-describedby="basic-addon1">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Search!</button>
            </span>
          </div>
          <br>
          <!--Searsh-->
        </div>
        <div class="modal-body">
          <ul class="list-group">
            {{#each Address}}
              {{#if exchange}} <!--exchange=0-->
              {{else}} <!--exchange=1-->
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                  <li class="list-group-item">{{tag}}</li>
                </div>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-at" aria-hidden="true"><i class="fa fa-user" aria-hidden="true"></i></i></span>
                  <li class="list-group-item">{{address}}</li>
                </div>
                <br>
              {{/if}}
            {{/each}}
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" id="close" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="formCreateExternalAddress">
  <!-- Modal -->
  <div id="DialogCreateExternalAddress_{{numAccount}}" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create an address to receive payments</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="input-group">
              <span class="input-group-addon primary"><i class="glyphicon glyphicon-tag"></i></span>
              <input type="text" class="form-control" id="tag_{{numAccount}}" placeholder="tag ...">
            </div>
            <button type="submit" id="submit" class="btn btn-primary btn-block">create address</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="close" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="formSendCryptocurrency">
  <div class="panel panel-primary">
    <div class="panel-heading"><strong>Send Cryptocurrency </strong><span class="badge"><i class="fa fa-paper-plane" aria-hidden="true"></i></span></div>
    <div class="panel-body text-center">
      <form>
        <div class="input-group">
          <span class="input-group-addon primary"><i class="btn-link glyphicon glyphicon-grain"></i></span>
          <input id="seed_{{numAccount}}" type="text" class="form-control" placeholder="Seed">
        </div>
        <div class="input-group">
          <span class="input-group-addon primary"><i class="btn-link glyphicon glyphicon-pushpin"></i></span>
          <input id="transactionName_{{numAccount}}" type="text" class="form-control" placeholder="Name transaction ...">
        </div>
        <div class="input-group">
          <span class="input-group-addon primary"><i class="btn-link fa fa-at" aria-hidden="true"><i class="fa fa-paper-plane" aria-hidden="true"></i></i></span>
          <input id="destinationAddress_{{numAccount}}" type="text" class="form-control" placeholder="Destination bitcoin address ...">
        </div>
        <div class="input-group">
          <span class="input-group-addon primary"><i class="btn-link fa fa-btc" aria-hidden="true"><i class="fa fa-paper-plane" aria-hidden="true"></i></i></span>
          <input id="sendSatoshis_{{numAccount}}" type="text" class="form-control" placeholder="Amount ...">
        </div>

        <div id="loading" class="collapse">
          <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </div>

        <button type="submit" data-toggle="collapse" data-target="#loading" class="btn btn-primary btn-block">Send</button>
      </form>
    </div>
  </div>



</template>

<template name="ReceiveCryptocurrency">
  <div class="panel panel-primary">
    <div class="panel-heading"><strong>receive Cryptocurrency </strong><span class="badge"><i class="fa fa-arrow-down" aria-hidden="true"></i></span></div>
    <div class="panel-body">
      <ul class="list-group">
        {{#with GetPaymentAddress}}
          <div class="input-group">
            <li class="list-group-item">{{tag}}</li>
            <span class="input-group-addon info" data-toggle="tooltip" data-placement="right" title="tag address"><i class="btn-link glyphicon glyphicon-tag"></i></span>
          </div>
          <div class="input-group">
            <li class="list-group-item">{{address}}</li>
            <span class="input-group-addon info" data-toggle="tooltip" data-placement="right" title="payment reception address"><i class="btn-link fa fa-at" aria-hidden="true"> <i class="btn-link fa fa-user" aria-hidden="true"></i></i></span>
          </div>
        {{/with}}
      </ul>
      <button class="btn btn-link" data-toggle="modal" data-target="#DialogCreateExternalAddress_{{numAccount}}" ><span class="glyphicon glyphicon-plus-sign"></span> create address</button>
      <button class="btn btn-link" data-toggle="modal" data-target="#DialogShowAllExternalAddress_{{numAccount}}" ><span class="glyphicon glyphicon-th-list"></span> show all addresses</button>
    </div>
  </div>
</template>
