<!--
<template name="formAccount">
  <fieldset>
  <legend> creation d'un compte </legend>
    <form>
      <p>Name : <input type="text" class="form-control" id="name_account"></P>
      <input type="submit" class="btn btn-default" name="submit" value="creation compte">
    </form>
  </fieldset>
</template>
-->
