<template name="accounts">
  {{#if ExistSeed userwallet }}
    {{>card}}
    {{>listsAccounts}}
  {{else}}
    {{>formSeed}}
  {{/if}}
</template>

<template name="card">
  <div class="card" style="background-color: #333; border-color: #333;">
    <div class="card-block">
      <div class="btn-group pull-right">
        <a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i>{{UserName}}</a>
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
          <li class="divider"></li>
          <li><a id="logout" href="#"><i class="fa fa-sign-out"></i> logout</a></li>
        </ul>
      </div>
      <h3 class="card-title">Special title treatment</h3>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
</template>

<template name="listsAccounts">
<!--
  <div class="card hovercard">
      <div class="card-background">
          <img class="card-bkimg" alt="" src="http://ei.marketwatch.com//Multimedia/2016/01/17/Photos/ZH/MW-ED478_bitcoi_20160117192142_ZH.jpg?uuid=73a64b22-bd79-11e5-9807-0015c588e0f6">
      </div>
      <div class="useravatar">
          <img alt="" src="https://www.atomix.com.au/media/2015/06/atomix_user31.png">
      </div>
      <div class="card-info">
        <div class="btn-group open">
          <a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i> User</a>
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
            <li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
            <li><a href="#"><i class="fa fa-ban fa-fw"></i> Ban</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="fa fa-unlock"></i> Make admin</a></li>
          </ul>
        </div>
      </div>
  </div>
-->

  <!-- Nav tabs
  <div class="card">
    <ul class="nav nav-tabs" role="tablist">
      {{#each userwallet.wallet.accounts}}
        <li role="presentation" class="{{class_tabs numAccount}}">
          <a href="#{{numAccount}}" aria-controls="home" role="tab" data-toggle="tab">{{name}}</a>
        </li>
      {{/each}}
    </ul>
    <div class="tab-content">
      {{#each userwallet.wallet.accounts}}
        <div role="tabpanel" class="tab-pane {{class_content numAccount}}" id="{{numAccount}}">
          {{>accountItem}}
        </div>
      {{/each}}
    </div>
  </div>
-->

  <!-- Nav tabs -->
  <div class="card">
    <ul class="nav nav-tabs nav-justified">
      {{#each userwallet.wallet.accounts}}
      <li class="{{class_tabs numAccount}}">
        <a data-toggle="tab" href="#{{numAccount}}">
          <i class="fa fa-university" aria-hidden="true"><strong> {{name}}</strong></i>
        </a>
      </li>
      {{/each}}
      <li>
        <div class="btn-group pull-right" data-toggle="tooltip" data-placement="left" title="create Account">
          <a class="btn btn-link dropdown-toggle" data-toggle="dropdown">
            <span class="fa fa-cog fa-2x" title="Toggle dropdown menu"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#" data-toggle="modal" data-target="#DialogCreateAccount">
                <i class="fa fa-plus-circle"></i> create new account
              </a>
            </li>
            <!--<li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
            <li><a href="#"><i class="fa fa-ban fa-fw"></i> Ban</a></li>-->
          </ul>
        </div>
        {{>formCreateAccount}}
        <!--<button class="pull-right btn btn-link" data-toggle="modal" data-target="#DialogCreateAccount" >
          <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
        </button>-->
      </li>
    </ul>
    <div class="tab-content">
      {{#each userwallet.wallet.accounts}}
        <div id="{{numAccount}}" class="tab-pane fade {{class_content numAccount}}">
          {{>accountItem}}
        </div>
      {{/each}}
    </div>
  </div>

  <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>

</template>

<template name="formCreateAccount">
  <!-- Modal -->
  <div id="DialogCreateAccount" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create a new account wallet</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="input-group">
              <span class="input-group-addon primary"><i class="btn-link fa fa-university" aria-hidden="true"></i></span>
              <input type="text" class="form-control" id="name_account" placeholder="name account...">
            </div>
            <button type="submit" id="submit" class="btn btn-primary btn-block">create account</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="close" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>
