<template name="layout">
  <header class="row">
    {{>header}}
  </header>

  <div class="row">
    <div class="row col-sm-2">
      {{>nav}}
    </div>
    <section class="row col-sm-8">
      {{> sAlert}}
      {{>yield}}
    </section>
    <div class="row col-sm-2">

    </div>
  </div>

  <div class="row">
    {{>footer}}
  </div>
</template>

<template name="header">
  <head>
    <link rel="stylesheet" type="text/css" href="card.css">
    <link rel="stylesheet" type="text/css" href="navTabs.css">
    <link rel="stylesheet" type="text/css" href="button.css">
  </head>
</template>

<template name="nav">

<!--
  <ul class="nav nav-pills nav-stacked">
    {{#if currentUserId}}
      <li class="active"> <a href="{{pathFor 'accounts'}}"> <span class="glyphicon glyphicon-home"></span> Accueil </a> </li>
      <li> <a href="{{pathFor 'formAccount'}}"> <span class="glyphicon glyphicon-facetime-video"></span> Add Account </a> </li>
      <li> <button class="btn" id="logout"> Logout </button> </li>
    {{else}}
      <li> <a href="{{pathFor 'login'}}"> <span class="glyphicon glyphicon-facetime-video"></span> Login </a> </li>
      <li> <a href="{{pathFor 'register'}}"> <span class="glyphicon glyphicon-headphones"></span> Register </a> </li>
    {{/if}}
  </ul>
-->
</template>

<template name="footer">

</template>
